.button {
  border: 1px dashed #a1a1a1;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

.button:active {
  opacity: 0.8;
}
