.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}
